$main-color: #f36523;
$font-color: #666;
@mixin font($size, $line-height:null, $weight:null) {
    @if $size != null {
        font-size: $size;
    }
    @if $line-height != null {
        line-height: $line-height;
    }
    @if $weight != null {
        font-weight: $weight;
    }
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}
/*
.font-13px {
    font-size: 13px;
    line-height: 20px;
}
.font-14px {
    font-size: 14px;
    line-height: 22px;
}
.font-15px {
    font-size: 15px;
    line-height: 25px;
}
*/
.icon-circle {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    > i {
        font-size: 85%;
    }
}
