@charset "UTF-8";
.font-roboto, #footer > nav h2, .project .progress > .progress-bar {
  font-family: 'Roboto', sans-serif; }

/*
.font-13px {
    font-size: 13px;
    line-height: 20px;
}
.font-14px {
    font-size: 14px;
    line-height: 22px;
}
.font-15px {
    font-size: 15px;
    line-height: 25px;
}
*/
.icon-circle {
  display: inline-block;
  border-radius: 50%;
  text-align: center; }
  .icon-circle > i {
    font-size: 85%; }

/*
// @기본 스타일
 */
html {
  background-color: #404040; }

body {
  background-color: #fff; }

html, body {
  min-width: 320px;
  font-size: 13px;
  line-height: 20px;
  color: #666; }
  @media (min-width: 768px) {
    html, body {
      font-size: 14px;
      line-height: 22px; } }

ol, ul {
  list-style: none;
  padding-left: 0; }

p, address, ol, ul, dl, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

.section-heading {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  color: #f36523;
  font-weight: bold; }
  @media (min-width: 768px) {
    .section-heading {
      font-size: 25px;
      line-height: 28px; } }

.btn {
  box-shadow: none !important; }

@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px; }
    .container > .row {
      margin-left: -10px;
      margin-right: -10px; }
      .container > .row > div {
        padding-left: 10px;
        padding-right: 10px; } }
/*
// 헤더
 */
#header {
  border-bottom: 1px solid #ccc; }
  #header .logo {
    text-align: center; }
    #header .logo img {
      display: block;
      margin: 0 auto; }
  #header a {
    color: #333;
    text-decoration: none;
    font-size: 14px; }
  #header .row > div {
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 33px; }
    #header .row > div:first-child {
      border-bottom: 1px solid #ccc; }
      @media (min-width: 768px) {
        #header .row > div:first-child {
          border-bottom: 0; } }
    #header .row > div.visible-xs-block {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 0; }
  #header .row > .membership {
    border-left: 1px solid #ccc; }
    #header .row > .membership > p {
      text-align: center; }
      #header .row > .membership > p > a {
        margin-left: 3px;
        margin-right: 3px;
        color: #f36523; }
  #header .row > .search {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; }
    #header .row > .search form {
      position: relative;
      padding-right: 26px; }
      #header .row > .search form p {
        width: 100%; }
        #header .row > .search form p input {
          width: 100%;
          border: 0; }
      #header .row > .search form button {
        position: absolute;
        top: 0;
        right: 0;
        width: 26px;
        padding-left: 0;
        padding-right: 0;
        background-color: #fff; }

/*
// 푸터
 */
#footer {
  border-top: 3px solid #f36523; }
  #footer > nav {
    padding: 0 10px 35px;
    background-color: #585858; }
    #footer > nav h2 {
      margin-top: 30px;
      margin-bottom: 25px;
      font-size: 15px;
      color: #aaa; }
    #footer > nav ul a {
      font-size: 13px;
      line-height: 25px;
      color: #888; }
      #footer > nav ul a:hover, #footer > nav ul a:focus {
        color: #ccc; }
  #footer > div {
    padding: 35px 10px;
    background-color: #404040; }
    #footer > div .properties {
      margin-bottom: 10px; }
      #footer > div .properties ul, #footer > div .properties dl {
        font-size: 0;
        line-height: 0; }
      #footer > div .properties li, #footer > div .properties dt, #footer > div .properties dd, #footer > div .properties address {
        display: inline-block;
        font-size: 12px;
        line-height: 22px;
        font-weight: normal;
        color: #fff; }
      #footer > div .properties .bar {
        padding-left: 5px;
        padding-right: 5px; }
      #footer > div .properties .colon {
        padding-left: 3px;
        padding-right: 3px; }
    #footer > div .copyright {
      margin-bottom: 30px;
      font-size: 11px;
      line-height: 14px;
      color: #777; }
      #footer > div .copyright > i {
        display: block;
        color: #555;
        font-style: normal; }
    #footer > div .sns {
      margin-bottom: 30px; }
      @media (min-width: 1200px) {
        #footer > div .sns {
          margin-bottom: 0; } }
      #footer > div .sns > p {
        text-align: center; }
        #footer > div .sns > p > a {
          display: inline-block;
          width: 34px;
          height: 34px;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-left: 8px;
          margin-right: 8px;
          line-height: 26px;
          font-size: 18px;
          color: #666;
          border-radius: 50%; }
          #footer > div .sns > p > a:hover, #footer > div .sns > p > a:focus {
            background-color: #000; }
    #footer > div .language {
      text-align: center; }

/*
// 프로젝트
 */
.project {
  margin-bottom: 10px; }
  .project a {
    overflow: hidden;
    position: relative;
    display: block;
    border: 1px solid #e9e9e9;
    text-decoration: none;
    color: #666;
    border-radius: 10px; }
    .project a:hover, .project a:focus {
      border: 0;
      padding: 1px; }
      .project a:hover .outline, .project a:focus .outline {
        border: 2px solid #f36523; }
  @media (min-width: 768px) {
    .project {
      margin-bottom: 20px; } }
  .project .figure {
    height: 177px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    @media (min-width: 768px) {
      .project .figure {
        height: 220px; } }
  .project .details > h3 {
    padding: 17px 20px;
    text-align: center;
    color: #f36523;
    font-size: 16px;
    line-height: 20px; }
    @media (min-width: 768px) {
      .project .details > h3 {
        height: 86px;
        padding-top: 26px;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 24px; } }
  .project .details > p {
    display: none; }
    @media (min-width: 768px) {
      .project .details > p {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 18px; } }
  .project .tags {
    display: none; }
    @media (min-width: 768px) {
      .project .tags {
        display: block;
        margin-bottom: 25px;
        font-size: 12px;
        line-height: 14px; }
        .project .tags ul {
          text-align: center; }
        .project .tags li {
          display: inline-block;
          padding: 0 18px;
          color: #888; }
          .project .tags li > i {
            margin-right: 5px;
            font-size: 90%; } }
  .project .involved .row {
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #f5f5f5; }
    .project .involved .row > div {
      padding-top: 7px;
      padding-bottom: 7px;
      border-left: 1px solid #e9e9e9;
      text-align: center;
      color: #4e5f6f; }
      .project .involved .row > div:first-child {
        border-left: 0; }
      .project .involved .row > div dt {
        font-size: 14px;
        line-height: 18px; }
      .project .involved .row > div dd {
        font-size: 13px;
        line-height: 16px; }
  .project .progress {
    height: 38px;
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0; }
    .project .progress > .progress-bar {
      font-size: 15px;
      line-height: 38px;
      font-weight: bold;
      background-color: #f36523;
      box-shadow: none; }
  .project .outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; }

/*# sourceMappingURL=default.css.map */
