@import 'common';

.section-header {
    margin-bottom: 30px;
    @media (min-width: 768px) {
        margin-top: 10px;
    }
}

#content.list {
    // 카테고리 영역
    .category {
        padding-top: 20px;
        padding-bottom: 15px;
        background-color: $main-color;
        @media (min-width: 768px) {
            padding-top: 30px;
            padding-bottom: 20px;
        }
        li {
            > a {
                display: block;
                height: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 5px;
                text-align: center;
                border-radius: 20px;
                line-height: 20px;
                color: #fff;
                @media (min-width: 768px) {
                    height: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                &:hover, &:focus, &.active {
                    background-color: #fff;
                    color: $main-color;
                    text-decoration: none;
                }
            }
        }
    }

    // 검색 영역
    .search-area {
        border: 1px solid #ccc;
        margin-bottom: 40px;
        header {
            position: relative;
            height: 45px;
            padding: 10px 20px;
            background-color: #f7f7f7;
            h4 {
                @include font(14px, 25px);
                color: #333;
            }
            .btn {
                position: absolute;
                top: 6px;
                right: 0;
                color: #333;
                text-decoration: none;
                @include font(13px, 20px);
            }
        }
        .form-wrap {
            display: none;
            padding: 10px 20px;
            border-top: 1px solid #ccc;
            @media (min-width: 768px) {
              padding: 20px 20px 5px;  
            }
            .row {
                > label {
                    position: relative;
                    padding-left: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    text-indent: 10px;
                    @include font(13px);
                    @media (min-width: 768px) {
                        margin-top: 5px;
                        text-indent: 15px;
                    }
                    > .dot {
                        position: absolute;
                        left: 10px;
                        top: 40%;
                        width: 3px;
                        height: 3px;
                        background-color: $main-color;
                        @media (min-width: 768px) {
                            left: 15px;
                        }
                    }
                }
                > div {
                    margin-bottom: 10px;
                    @media (min-width: 768px) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        &.opened {
            .form-wrap {
                display: block;
            }
        }
    }

    // 리스트 영역
    .list {
        position: relative;
        border-top: 1px solid #dfdfdf;
        margin-top: 30px;
        margin-bottom: 10px;
        h4 {
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 16px;
            @include font(20px);
            > strong {
                color: $main-color;
            }
            @media (min-width: 1200px) {
                margin-top: 60px;
                margin-bottom: 30px;
            }
        }
        @media (min-width: 1200px) {
            .nav-tabs {
                position: absolute;
                top: 56px;
                right: 0;
            }
        }
    }
}

#content.view {
    .overview {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        @media (min-width: 1200px) {
            margin-top: 70px;
            margin-bottom: 70px;
        }
        h2 {
            margin-bottom: 30px;
            @include font(30px, 36px);
            color: #333;
            @media (min-width: 1200px) {
                @include font(35px, 44px);
            }
        }
        p {
            margin-bottom: 25px;
            @include font(13px, 18px);
            @media (min-width: 1200px) {
                margin-bottom: 35px;
                padding-left: 200px;
                padding-right: 200px;
                @include font(15px, 25px);
            }
        }
        .tags > li {
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
            color: #888;
            @include font(12px);
            @media (min-width: 1200px) {
                @include font(13px);
            }
        }
    }
    .figure {
        position: relative;
        margin-left: -10px;
        margin-right: -10px;
        background-color: #000;
        @media (min-width: 768px) {
            margin-left: 0;
            margin-right: 0;
        }
        ul {
            > li {
                > img {
                    width: 100%;
                }
            }
        }
        .controls {
            > a {
                position: absolute;
                top: 50%;
                margin-top: -20px;
                font-size: 40px;
                color: #fff;
                &.prev {
                    left: 0;
                }
                &.next {
                    right: 0;
                }
            }
        }
    }
    .stats {
        border: 8px solid #e1e1e1;
        margin-top: 10px;
        margin-bottom: 10px;
        @media (min-width: 1200px) {
            margin-top: 0;
            margin-bottom: 30px;
        }
        .goal {
            position: relative;
            padding: 13px 13px 20px;
            border-bottom: 1px solid #e9e9e9;
            text-align: center;
            @media (min-width: 1200px) {
                padding: 15px 10px;
            }
            .rate {
                display: inline-block;
                width: 87px;
                height: 87px;
                margin-right: 10px;
                @include font(30px, 87px);
                @extend .font-roboto;
                letter-spacing: -1px;
                color: $main-color;
                vertical-align: top;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                &.rate-100 {
                    background-image: url(/images/discover/img_circle_rate_10.png);
                }
                &.rate-90 {
                    background-image: url(/images/discover/img_circle_rate_90.png);
                }
                &.rate-80 {
                    background-image: url(/images/discover/img_circle_rate_80.png);
                }
                &.rate-70 {
                    background-image: url(/images/discover/img_circle_rate_70.png);
                }
                &.rate-60 {
                    background-image: url(/images/discover/img_circle_rate_60.png);
                }
                &.rate-50 {
                    background-image: url(/images/discover/img_circle_rate_50.png);
                }
                &.rate-40 {
                    background-image: url(/images/discover/img_circle_rate_40.png);
                }
                &.rate-30 {
                    background-image: url(/images/discover/img_circle_rate_30.png);
                }
                &.rate-20 {
                    background-image: url(/images/discover/img_circle_rate_20.png);
                }
                &.rate-10 {
                    background-image: url(/images/discover/img_circle_rate_10.png);
                }
                &.rate-0 {
                    background-image: url(/images/discover/img_circle_rate_0.png);
                }
                > small {
                    @include font(15px);
                    color: #999;
                }
                @media (min-width: 1200px) {
                    width: 123px;
                    height: 123px;
                    @include font(35px, 123px);
                }
            }
            .money {
                display: inline-block;
                h3 {
                    margin-top: 10px;
                    color: $main-color;
                    @include font(30px, 40px);
                    @extend .font-roboto;
                    letter-spacing: -1px;
                    > small {
                        @include font(18px);
                        color: $main-color;
                    }
                    @media (min-width: 1200px) {
                        margin-top: 20px;
                        @include font(30px, 50px);
                    }
                }
                p {
                    @include font(14px, 20px);
                    color: #333;
                    @media (min-width: 1200px) {
                        @include font(15px);
                    }
                }
            }
        }
        .involved {
            border-right: 1px solid #e9e9e9;
        }
        .involved, .remain {
            float: left;
            width: 50%;
            dl {
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
                @media (min-width: 1200px) {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
            dt, dd {
                @include font(12px, 30px);
                display: inline-block;
                @media (min-width: 1200px) {
                    @include font(13px);
                }
            }
            strong {
                position: relative;
                top: 3px;
                @include font(20px, 30px);
                @extend .font-roboto;
                @media (min-width: 1200px) {
                    @include font(25px);
                }
            }
        }
        .period {
            clear: both;
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid #e9e9e9;
            @include font(12px, 20px);
            text-align: center;
            @media (min-width: 1200px) {
                @include font(13px);
            }
            dt, dd {
                display: inline-block;
                font-weight: normal;
            }
        }
    }
    .btn-involved {
        margin-bottom: 10px;
        line-height: 28px;
        @media (min-width: 1200px) {
            margin-bottom: 30px;
            line-height: 48px;
        }
    }
    .profile {
        overflow: hidden;
        margin-bottom: 50px;
        .picture {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background-image: url(/images/ico_profile_default.gif);
            background-position: 50% 50%;
            background-size: cover;
            @media (min-width: 768px) {
                width: 70px;
                height: 70px;
            }
        }
        .author {
            padding: 15px;
            height: 50px;
            border: 1px solid #dfdfdf;
            margin-left: 60px;
            @include font(13px, 20px);
            @media (min-width: 768px) {
                height: 70px;
                margin-left: 80px;
            }
            @media (min-width: 1200px) {
                margin-left: 90px;
            }
            strong {
                color: #333;
            }
            ul {
                display: inline;
                li {
                    display: inline;
                    a {
                        color: #c7c7c7;
                    }
                }
            }
            p {
                display: none;
                @media (min-width: 768px) {
                    overflow: hidden;
                    display: block;
                    @include font(12px, 18px);
                    color: #888;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    .nav-tabs {
        margin-bottom: 25px;
        @media (min-width: 1200px) {
            margin-bottom: 30px;
        }
        > li {
            display: table-cell;
            width: 1%;
            margin-right: 0;
            margin-bottom: 0;
            > a {
                border-bottom: 1px solid #ccc;
                border-radius: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                @media (min-width: 1200px) {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
            &.active {
                > a {
                    position: relative;
                    top: -1px;
                    border-bottom: 2px solid $main-color;
                }
            }
        }
    }
    .reward {
        h3 {
            margin-bottom: 10px;
            @include font(13px, 20px);
            @media (min-width: 768px) {
                @include font(15px, 25px);
            }
            @media (min-width: 1200px) {
                margin-bottom: 5px;
                @include font(20px, 30px);
            }
        }
    }
    .reward-item {
        margin-bottom: 10px;
        > a {
            position: relative;
            display: block;
            padding: 20px;
            border: 1px solid #ccc;
            text-decoration: none;
            &:hover, &:focus {
                .price {
                    strong {
                        i {
                            color: $main-color;
                        }
                    }
                }
                .involved {
                    background-color: $main-color;
                }
                .outline {
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    right: -1px;
                    bottom: -1px;
                    border: 2px solid $main-color;
                }
            }
            @media (min-width: 1200px) {
                padding: 25px;
            }
        }
        .price {
            @include font(25px);
            strong {
                color: #333;
                i {
                    font-style: normal;
                    @extend .font-roboto;
                    @include font(25px, 30px);
                }
                small {
                    position: relative;
                    top: -2px;
                    color: $font-color;
                    @include font(15px, 20px, normal);
                }
            }
        }
        .involved {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 100px;
            height: 26px;
            background-color: #aaa;
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;
            border-top-right-radius: 13px;
            border-bottom-right-radius: 13px;
            text-align: center;
            @media (min-width: 1200px) {
                top: 25px;
                right: 25px;
            }
            strong {
                color: #fff;
                font-weight: normal;
                i {
                    font-style: normal;
                    @extend .font-roboto;
                    @include font(15px, 26px);
                }
                small {
                    position: relative;
                    top: -1px;
                    @include font(13px, 26px);
                }
            }
        }
        .summary {
            margin-top: 15px;
            h5 {
                @include font(14px, 20px, bold);
                color: #333;
            }
            p {
                @include font(13px, 20px);
            }
        }
        .limit {
            padding-top: 10px;
            border-top: 1px dashed #ccc;
            margin-top: 10px;
            li {
                position: relative;
                padding-left: 7px;
                .dot {
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background-color: #666;
                }
            }
            dt, dd {
                display: inline-block;
                @include font(12px, 20px, normal);
            }
        }
    }
    .caution {
        margin-top: 15px;
        margin-bottom: 15px;
        @media (min-width: 1200px) {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    .ask {
        margin-bottom: 50px;
        .btn {
            line-height: 31px;
            &.btn-default {
                border-color: #e1e1e1;
                background-color: #e1e1e1;
            }
            @media (min-width: 1200px) {
                line-height: 41px;
            }
        }
    }
    .cheer, .help-desk {
        position: relative;
        padding-top: 50px;
        padding-bottom: 45px;
        border-top: 1px solid #dfdfdf;
        h5 {
            margin-bottom: 15px;
            @include font(25px);
            color: #333;
        }
        p {
            @include font(14px, 22px);
        }
        .btn {
            position: absolute;
            top: 70px;
            right: 0;
            @include font(14px, 24px);
            &.btn-default {
                border: 0;
                background-color: #e1e1e1;
            }
        }
    }
    .cheer {
        margin-top: 80px;
    }
    .help-desk {
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 100px;
    }
    #process {
        iframe {
            overflow: hidden;
            border: 0;
        }
    }
    #sponsors {
        .score {
            margin-bottom: 5px;
            text-align: right;
            color: #333;
            @media (min-width: 1200px) {
                margin-bottom: 15px;
            }
            > i {
                font-style: normal;
                color: $main-color;
                font-weight: bold;
            }
        }
        .sponsor {
            margin-bottom: 10px;
            @media (min-width: 1200px) {
                margin-bottom: 20px;
            }
            .picture {
                float: left;
                width: 50px;
                height: 50px;
                background-image: url(/images/ico_profile_default.gif);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                @media (min-width: 1200px) {
                    width: 70px;
                    height: 70px;
                }
            }
            .info {
                margin-left: 50px;
                padding-left: 10px;
                @media (min-width: 1200px) {
                    margin-left: 70px;
                    padding-left: 20px;
                }
                > div {
                    position: relative;
                    padding: 10px;
                    border: 1px solid #dfdfdf;
                    @media (min-width: 1200px) {
                        height: 70px;
                        padding: 13px 20px;
                    }
                }
                strong {
                    color: #333;
                }
                p {
                    color: #888;
                }
                dl {
                    color: #888;
                    dt, dd {
                        display: inline;
                        @include font(13px, 20px, normal);
                    }
                    @media (min-width: 1200px) {
                        position: absolute;
                        top: 25px;
                        right: 20px;
                    }
                }
            }
        }
    }
}