@import 'common';

.section-header {
    margin-bottom: 30px;
    @media (min-width: 768px) {
        margin-top: 10px;
    }
}

// 카테고리 영역
.category {
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: $main-color;
    @media (min-width: 768px) {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    li {
        > a {
            display: block;
            height: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 5px;
            text-align: center;
            border-radius: 20px;
            line-height: 20px;
            color: #fff;
            @media (min-width: 768px) {
                height: 40px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            &:hover, &:focus {
                background-color: #fff;
                color: $main-color;
                text-decoration: none;
            }
        }
    }
}

// 검색 영역
.search-area {
    border: 1px solid #ccc;
    margin-bottom: 40px;
    header {
        position: relative;
        height: 45px;
        padding: 10px 20px;
        background-color: #f7f7f7;
        h4 {
            @include font(14px, 25px);
            color: #333;
        }
        .btn {
            position: absolute;
            top: 6px;
            right: 0;
            color: #333;
            text-decoration: none;
            @include font(13px, 20px);
        }
    }
    .form-wrap {
        display: none;
        padding: 10px 20px;
        border-top: 1px solid #ccc;
        @media (min-width: 768px) {
          padding: 20px 20px 5px;  
        }
        .row {
            > label {
                position: relative;
                padding-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                text-indent: 10px;
                @include font(13px);
                @media (min-width: 768px) {
                    margin-top: 5px;
                    text-indent: 15px;
                }
                > .dot {
                    position: absolute;
                    left: 10px;
                    top: 40%;
                    width: 3px;
                    height: 3px;
                    background-color: $main-color;
                    @media (min-width: 768px) {
                        left: 15px;
                    }
                }
            }
            > div {
                margin-bottom: 10px;
                @media (min-width: 768px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
    &.opened {
        .form-wrap {
            display: block;
        }
    }
}

// 리스트 영역
.list {
    position: relative;
    border-top: 1px solid #dfdfdf;
    margin-top: 30px;
    margin-bottom: 10px;
    h4 {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 16px;
        @include font(20px);
        > strong {
            color: $main-color;
        }
        @media (min-width: 1200px) {
            margin-top: 60px;
            margin-bottom: 30px;
        }
    }
    @media (min-width: 1200px) {
        .nav-tabs {
            position: absolute;
            top: 56px;
            right: 0;
        }
    }
}