// 문의하기
#content.ask {
    .list {
        margin-bottom: 30px;
        @media (min-width: 1200px) {
            margin-bottom: 70px;
        }
        th:nth-of-type(1),
        td:nth-of-type(1),
        th:nth-of-type(5),
        td:nth-of-type(5),
        th:nth-of-type(6),
        td:nth-of-type(6) {
            display: none;
            @media (min-width: 768px) {
                display: table-cell;
            }
        }
        th:nth-of-type(2),
        td:nth-of-type(2) {
            border-left-width: 0;
            @media (min-width: 768px) {
                border-left-width: 1px;
            }
        }
        th:nth-of-type(4),
        td:nth-of-type(4) {
            border-right-width: 0;
            @media (min-width: 768px) {
                border-right-width: 1px;
            }
        }
    }
    .write {
        #title {
            width: 100%;
        }
        input[type="file"] {
            width: 100%;
        }
        .captcha-word {
            display: inline-block;
            margin-left: 10px;
        }
    }
}