.font-roboto {
  font-family: 'Roboto', sans-serif; }

/*
.font-13px {
    font-size: 13px;
    line-height: 20px;
}
.font-14px {
    font-size: 14px;
    line-height: 22px;
}
.font-15px {
    font-size: 15px;
    line-height: 25px;
}
*/
.icon-circle {
  display: inline-block;
  border-radius: 50%;
  text-align: center; }
  .icon-circle > i {
    font-size: 85%; }

#content.ask .list {
  margin-bottom: 30px; }
  @media (min-width: 1220px) {
    #content.ask .list {
      margin-bottom: 70px; } }
  #content.ask .list th:nth-of-type(1),
  #content.ask .list td:nth-of-type(1),
  #content.ask .list th:nth-of-type(5),
  #content.ask .list td:nth-of-type(5),
  #content.ask .list th:nth-of-type(6),
  #content.ask .list td:nth-of-type(6) {
    display: none; }
    @media (min-width: 768px) {
      #content.ask .list th:nth-of-type(1),
      #content.ask .list td:nth-of-type(1),
      #content.ask .list th:nth-of-type(5),
      #content.ask .list td:nth-of-type(5),
      #content.ask .list th:nth-of-type(6),
      #content.ask .list td:nth-of-type(6) {
        display: table-cell; } }
  #content.ask .list th:nth-of-type(2),
  #content.ask .list td:nth-of-type(2) {
    border-left-width: 0; }
    @media (min-width: 768px) {
      #content.ask .list th:nth-of-type(2),
      #content.ask .list td:nth-of-type(2) {
        border-left-width: 1px; } }
  #content.ask .list th:nth-of-type(4),
  #content.ask .list td:nth-of-type(4) {
    border-right-width: 0; }
    @media (min-width: 768px) {
      #content.ask .list th:nth-of-type(4),
      #content.ask .list td:nth-of-type(4) {
        border-right-width: 1px; } }
#content.ask .write #title {
  width: 100%; }
#content.ask .write input[type="file"] {
  width: 100%; }
#content.ask .write .captcha-word {
  display: inline-block;
  margin-left: 10px; }

#content.faq .list {
  border-top: 1px solid #dfdfdf;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    #content.faq .list {
      margin-top: 20px; } }
  @media (min-width: 1220px) {
    #content.faq .list {
      margin-top: 40px; } }
  #content.faq .list li .icon-circle {
    position: absolute;
    top: 12px;
    left: 22px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-style: normal;
    background-color: #949494;
    border-radius: 50%;
    color: #fff;
    font-weight: bold; }
  #content.faq .list li .icon-angle-up,
  #content.faq .list li .icon-angle-down {
    position: absolute;
    top: 14px;
    right: 20px; }
  #content.faq .list li > a {
    position: relative;
    display: block;
    padding: 14px 50px 14px 70px;
    border-bottom: 1px solid #dfdfdf; }
  #content.faq .list li > div {
    position: relative;
    display: none;
    border-bottom: 1px solid #dfdfdf; }
    #content.faq .list li > div > .icon-circle {
      top: 24px;
      background-color: #f36523; }
    #content.faq .list li > div > div {
      padding: 20px 20px 20px 70px;
      background-color: #f8f8f8; }
  #content.faq .list li.opened > a {
    color: #333; }
  #content.faq .list li.opened > div {
    display: block; }

#content.policy .policy-content {
  padding: 15px;
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  background-color: #fafafa; }
  @media (min-width: 768px) {
    #content.policy .policy-content {
      padding: 30px;
      margin-bottom: 50px; } }
  @media (min-width: 1220px) {
    #content.policy .policy-content {
      padding: 40px;
      margin-bottom: 100px; } }

/*# sourceMappingURL=help.css.map */
