@import 'common';

// 문의하기
#content.ask {
    .list {
        margin-bottom: 30px;
        @media (min-width: 1220px) {
            margin-bottom: 70px;
        }
        th:nth-of-type(1),
        td:nth-of-type(1),
        th:nth-of-type(5),
        td:nth-of-type(5),
        th:nth-of-type(6),
        td:nth-of-type(6) {
            display: none;
            @media (min-width: 768px) {
                display: table-cell;
            }
        }
        th:nth-of-type(2),
        td:nth-of-type(2) {
            border-left-width: 0;
            @media (min-width: 768px) {
                border-left-width: 1px;
            }
        }
        th:nth-of-type(4),
        td:nth-of-type(4) {
            border-right-width: 0;
            @media (min-width: 768px) {
                border-right-width: 1px;
            }
        }
    }
    .write {
        #title {
            width: 100%;
        }
        input[type="file"] {
            width: 100%;
        }
        .captcha-word {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

// 자주묻는 질문
#content.faq {
    .list {
        border-top: 1px solid #dfdfdf;
        margin-bottom: 40px;
        @media (min-width: 768px) {
            margin-top: 20px;
        }
        @media (min-width: 1220px) {
            margin-top: 40px;
        }
        li {
            .icon-circle {
                position: absolute;
                top: 12px;
                left: 22px;
                width: 26px;
                height: 26px;
                line-height: 26px;
                text-align: center;
                font-style: normal;
                background-color: #949494;
                border-radius: 50%;
                color: #fff;
                font-weight: bold;
            }
            .icon-angle-up,
            .icon-angle-down {
                position: absolute;
                top: 14px;
                right: 20px;
            }
            > a {
                position: relative;
                display: block;
                padding: 14px 50px 14px 70px;
                border-bottom: 1px solid #dfdfdf;
            }
            > div {
                position: relative;
                display: none;
                border-bottom: 1px solid #dfdfdf;
                > .icon-circle {
                    top: 24px;
                    background-color: $main-color;
                }
                > div {
                    padding: 20px 20px 20px 70px;
                    background-color: #f8f8f8;
                }
            }
            &.opened {
                > a {
                    color: #333;
                }
                > div {
                    display: block;
                }
            }
        }
    }
}