@import 'common';

/*
// @메인 페이지 스타일
 */
.btn-more {
    position: absolute;
    top: 25px;
    right: 10px;
    color: #666;
    @media (min-width: 768px) {
        top: 29px;
        right: 15px;
    }
    @media (min-width: 1200px) {
        top: 38px;
    }
}

//  소개 영역
#introduce {
    position: relative;
    .overview {
        height: 250px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        h2 {
            margin-top: 45px;
            @include font(30px, 30px);
            color: #fff;
            @media (min-width: 768px) {
                margin-top: 100px;
                @include font(60px, 60px);
            }
        }
        p:nth-of-type(1) {
            display: none;
            @media (min-width: 768px) {
                display: block;
                margin-top: 35px;
                @include font(15px, 22px);
                color: #333;
            }
        }
        p:nth-of-type(2) {
            margin-top: 30px;
            .btn {
                width: 110px;
                padding-top: 4px;
                padding-bottom: 4px;
                border: 2px solid #fff;
                color: #fff;
                @include font(12px);
                @extend .font-roboto;
                &:hover, &:focus {
                    background-color: $main-color;
                }
            }
            @media (min-width: 768px) {
                margin-top: 40px;
                .btn {
                    width: 150px;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    @include font(16px);
                }
            }
        }
        @media (min-width: 768px) {
            height: 510px;
        }
    }
    .controls {
        display: none;
        @media (min-width: 1600px) {
            display: block;
            .container {
                position: relative;
            }
            a {
                position: absolute;
                top: -290px;
                width: 70px;
                height: 70px;
                line-height: 75px;
                text-align: center;
                z-index: 51;
                font-size: 40px;
                color: #fff;
                background-color: #000;
                opacity: .5;
                text-decoration: none;
            }
            .prev {
                left: -185px;
            }
            .next {
                right: -185px;
            }
        }
    }
    .bx-controls {
        position: relative;
        .bx-pager {
            position: absolute;
            width: 100%;
            bottom: 15px;
            z-index: 51;
            text-align: center;
            .bx-pager-item {
                display: inline-block;
                padding: 7px;
            }
            .bx-pager-link {
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #fff;
                text-indent: -9999px;
                opacity: .4;
                &.active {
                    opacity: 1;
                }
            }
            @media (min-width: 768px) {
                bottom: 30px;
            }
        }
    }
}

// 통계기록 영역
#record {
    padding: 20px 0;
    background-color: $main-color;
    color: #fff;
    h2, strong {
        display: inline-block;
        @include font(15px, 25px);
    }
    strong {
        float: right;
        @media (min-width: 768px) {
            float: none;
        }
    }
    .icon-circle {
        width: 23px;
        height: 23px;
        margin-right: 10px;
        background-color: #fff;
        > i {
            color: $main-color;
        }
    }
    .row {
        > div {
            margin-bottom: 5px;
            @media (min-width: 768px) {
                margin-bottom: 0;
                text-align: center;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// 추천 프로젝트
#recommend {
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
    .container {
        position: relative;
    }
}

// 인기 프로젝트
#popular {
    .container {
        position: relative;
    }
}

// 카테고리
#category {
    margin-bottom: 40px;
    .container {
        position: relative;
    }
    .row {
        margin-left: -3px;
        margin-right: -3px;
        @media (min-width: 768px) {
            margin-left: -10px;
            margin-right: -10px;
        }
        > div {
            padding-left: 3px;
            padding-right: 3px;
            @media (min-width: 768px) {
                padding-left: 10px;
                padding-right: 10px;
            }
            &:nth-of-type(1) {
                > a {
                    background-image: url(/images/main/img_category1.jpg);
                }
            }
            &:nth-of-type(2) {
                > a {
                    background-image: url(/images/main/img_category2.jpg);
                }
            }
            &:nth-of-type(3) {
                > a {
                    background-image: url(/images/main/img_category3.jpg);
                }
            }
            &:nth-of-type(4) {
                > a {
                    background-image: url(/images/main/img_category4.jpg);
                }
            }
            a {
                overflow: hidden;
                display: block;
                border-radius: 6px;
                color: #fff;
                text-decoration: none;
                text-align: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                @include font(13px, 20px);
                @media (min-width: 768px) {
                    @include font(22px, 30px);
                }
                > div {
                    position: relative;
                    height: 70px;
                    padding-top: 25px;
                    background-color: rgba(0, 0, 0, .5);
                    @media (min-width: 768px) {
                        height: 160px;
                        padding-top: 65px;
                    }
                    @media (min-width: 1200px) {
                        height: 270px;
                        padding-top: 120px;
                    }
                    > span {
                        display: none;
                        @media (min-width: 768px) {
                            position: absolute;
                            top: 35px;
                            width: 100%;
                            text-align: center;
                        }
                        @media (min-width: 1200px) {
                            top: 85px;
                        }
                    }
                }
                &:hover, &:focus {
                    > div {
                        background-color: #4ba1dd;
                        > span {
                            display: none;
                            @media (min-width: 768px) {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 스폰서
#sponsor {
    margin-bottom: 20px;
    @media (min-width: 1200px) {
        margin-bottom: 40px;
    }
    .container {
        position: relative;
    }
    figure {
        margin-bottom: 20px;
        text-align: center;
        > img {
            margin: 0 auto 15px;
            max-width: 110px;
            @media (min-width: 1200px) {
                margin-bottom: 25px;
                max-width: 150px;
            }
        }
        strong {
            display: block;
            margin-bottom: 5px;
            @include font(14px, 18px);
            color: #000;
            @media (min-width: 1200px) {
                margin-bottom: 15px;
                @include font(16px, 22px);
            }
        }
        p {
            @include font(12px, 16px);
            @media (min-width: 1200px) {
                @include font(13px, 20px);
            }
        }
    }
}

// 지금 시작하세요!
#begin {
    height: 315px;
    border-top: 1px solid #dfdfdf;
    background-image: url(/images/main/bg_begin.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    @media (min-width: 1200px) {
        height: 357px;
    }
    h2 {
        margin-top: 50px;
        margin-bottom: 25px;
        color: #fff;
        @include font(25px, 27px);
        @media (min-width: 1200px) {
            margin-top: 110px;
            @include font(33px, 35px);
        }
    }
    p:nth-of-type(1) {
        margin-bottom: 30px;
        color: #fff;
        @include font(15px, 18px);
        @media (min-width: 1200px) {
            margin-bottom: 50px;
            @include font(18px, 20px);
        }
    }
    p:nth-of-type(2) {
        > .btn {
            display: block;
            width: 220px;
            height: 48px;
            margin: 0 auto;
            @include font(15px);
            color: #fff;
            border-radius: 24px;
            line-height: 34px;
            border: 1px solid;
            &:nth-of-type(1) {
                border-color: #fff;
                margin-bottom: 7px;
            }
            &:hover, &:focus {
                border-color: $main-color;
                background-color: $main-color;
            }
            @media (min-width: 1200px) {
                display: inline-block;
                width: 230px;
                margin: 0 20px !important;
            }
        }
    }
}