@import 'common';

// 마이페이지 공통
body.mypage {
    .page-header {
        @media (min-width: 768px) {
            margin-bottom: 50px;
        }
    }
}

// 내 프로젝트 아이템
.my-project-item {
    overflow: hidden;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    margin-bottom: 10px;
    @media (min-width: 1220px) {
        height: 250px;
        margin-bottom: 20px;
    }
    .figure {
        height: 185px;
        border-bottom: 1px solid #e9e9e9;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        @media (min-width: 1220px) {
            float: left;
            width: 370px;
            height: 100%;
            border-bottom: 0;
            border-bottom: 1px solid #e9e9e9;
        }
    }
    .details {
        padding: 20px;
        @media (min-width: 1220px) {
            height: 248px;
            padding: 30px 0;
            margin-left: 370px;
        }
        .summary {
            padding-bottom: 20px;
            h4 {
                overflow: hidden;
                margin-top: 15px;
                margin-bottom: 20px;
                @include font(16px, 20px, bold);
                color: #333;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;
            }
            .desc {
                display: none;
            }
            ul {
                margin-bottom: 15px;
                @media (min-width: 1220px) {
                    margin-bottom: 20px;
                }
                li {
                    position: relative;
                    padding-left: 10px;
                    @include font(13px, 22px);
                    .dot {
                        position: absolute;
                        top: 8px;
                        left: 0;
                        width: 3px;
                        height: 3px;
                        background-color: $main-color;
                    }
                }
                dt, dd {
                    display: inline-block;
                    color: #888;
                    @include font(13px, 22px, normal);
                }
            }
            .btn-area {
                p {
                    .btn:hover, .btn:focus {
                        background-color: #fff;
                        border-color: $main-color;
                        color: $main-color;
                    }
                }
            }
            .result {
                width: 102px;
                height: 26px;
                line-height: 26px;
                border-top-left-radius: 13px;
                border-top-right-radius: 13px;
                border-bottom-left-radius: 13px;
                border-bottom-right-radius: 13px;
                background-color: #ccc;
                color: #fff;
                text-align: center;
            }
            @media (min-width: 1220px) {
                float: left;
                width: 440px;
                height: 188px;
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 0;
                h4 {
                    margin-top: 0;
                    margin-bottom: 10px;
                    text-align: left;
                }
                .desc {
                    overflow: hidden;
                    display: block;
                    margin-bottom: 25px;
                    @include font(13px, 18px);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        .stats {
            padding-top: 20px;
            border-top: 1px solid #e9e9e9;
            @media (min-width: 1220px) {
                padding-top: 0;
                padding-left: 60px;
                padding-right: 70px;
                height: 188px;
                border-top: 0;
                border-left: 1px solid #e9e9e9;
                margin-left: 440px;
            }
            .rate {
                h5 {
                    overflow: hidden;
                    display: block;
                    @include font(33px, 45px);
                    text-align: center;
                    color: $main-color;
                    @extend .font-roboto;
                    text-overflow: ellipsis;
                    white-space: normal;
                    small {
                        color: $main-color;
                        font-size: 18px;
                        font-weight: normal;
                    }
                    @media (min-width: 1220px) {
                        line-height: 24px;
                    }
                }
                p {
                    margin-bottom: 10px;
                    @include font(15px, 18px);
                    color: #333;
                    text-align: center;
                    @media (min-width: 1220px) {
                        margin-top: 7px;
                    }
                }
                .progress {
                    height: 22px;
                    box-shadow: none;
                    background-color: #d7d7d7;
                    border: {
                        top: {
                            left-radius: 11px;
                            right-radius: 11px;
                        }
                        bottom: {
                            left-radius: 11px;
                            right-radius: 11px;
                        }
                    }
                    .progress-bar {
                        box-shadow: none;
                        background-color: $main-color;
                        line-height: 22px;
                        @extend .font-roboto;
                    }
                }
            }
            .involve {
                overflow: hidden;
                border-top: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;
                > div {
                    float: left;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 50%;
                    border-right: 1px solid #e9e9e9;
                    text-align: center;
                    &:last-child {
                        border-right: 0;
                    }
                    dt {
                        @include font(20px, 22px);
                        @extend .font-roboto;
                    }
                    dd {
                        @include font(12px, 18px);
                    }
                    .closed {
                        color: #ce0000;
                        @include font(20px, 40px);
                    }
                }
            }
            .period {
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                dt, dd {
                    display: inline-block;
                    @include font(13px, 20px, normal);
                    time {
                        @extend .font-roboto;
                    }
                }
            }
        }
    }
}

// 회원정보 수정
#content.modify-info {
    label {
        font-weight: normal;
    }
    .default {
        .email .help {
            margin-top: 0;
        }
        .introduce textarea {
            width: 100%;
            height: 100px;
        }
        #zipcode {
            width: 80px;
        }
        .address input {
            width: 100%;
        }
        .profile {
            figure {
                display: inline-block;
                border: 1px solid #dfdfdf;
                margin-bottom: 10px;
                background-color: #f3f3f3;
                text-align: center;
                &.empty {
                    width: 138px;
                    height: 138px;
                    img {
                        margin-top: 60px;
                    }
                }
            }
        }
    }
    .bank-account {
        margin-top: 30px;
        @media (min-width: 768px) {
            margin-top: 50px;
        }
        @media (min-width: 1220px) {
            margin-top: 100px;
        }
    }
}

// 마이 프로젝트
#content.my-project {
    padding-bottom: 30px;
    @media (min-width: 1220px) {
        padding-bottom: 100px;
    }
    .section-header {
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid #dfdfdf;
        margin-top: 50px;
        > a {
            position: absolute;
            top: -7px;
            right: 0;
        }
        @media (min-width: 1220px) {
            margin-top: 90px;
        }
    }
    .filter {
        ul {
            overflow: hidden;
        }
        li {
            float: left;
            padding: 5px;
            width: 50%;
            &:nth-of-type(1), &:nth-of-type(3) {
                padding-left: 0;
            }
            &:nth-of-type(2), &:nth-of-type(4) {
                padding-right: 0;
            }
            @media (min-width: 768px) {
                padding: 0 15px;
                width: 25%;
                &:nth-of-type(2) {
                    padding-right: 15px;
                }
                &:nth-of-type(3) {
                    padding-left: 15px;
                }
            }
            @media (min-width: 1220px) {
                br {
                    display: none;
                }
            }
        }
        a {
            display: block;
            padding: 5px;
            border: 1px solid #c4c4c4;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            @media (min-width: 768px) {
                padding: 10px;
            }
            &:hover, &:focus, &.active {
                background-color: $main-color;
                color: #fff;
                border-color: $main-color;
            }
        }
    }
    .nothing {
        text-align: center;
    }
}

// 찜한 프로젝트
#content.favorite {
    > .container > .btn-area {
        p {
            text-align: right;
        }
        @media (min-width: 768px) {
            margin-bottom: 10px;
        }
        @media (min-width: 1220px) {
            margin-bottom: 20px;
        }
    }
    .menu {
        overflow: hidden;
        input {
            margin-top: 12px;
            margin-left: 10px;
        }
        button {
            float: right;
            padding-right: 0;
            padding-left: 0;
            color: $main-color;
            font-size: 20px;
        }
    }
}

// 후원결과
#content.result {
    .overview {
        margin-bottom: 60px;
        @media (min-width: 1220px) {
            margin-bottom: 70px;    
        }
        /*
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        */
        li {
            &:nth-of-type(odd) {
                padding-left: 10px;
                padding-right: 5px;
            }
            &:nth-of-type(even) {
                padding-left: 5px;
                padding-right: 10px;
            }
            &:nth-of-type(1),
            &:nth-of-type(2) {
                padding-bottom: 5px;
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
                padding-top: 5px;
            }
            @media (min-width: 768px) {
                &:nth-of-type(odd) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &:nth-of-type(even) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    padding-bottom: 0;
                }
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    padding-top: 0;
                }   
            }
        }
        a {
            display: block;
            border: 1px solid #dfdfdf;
            h4 {
                text-align: center;
                border-bottom: 1px solid #dfdfdf;
                @include font(12px, 35px);
                background-color: #f4f4f4;
                @media (min-width: 1220px) {
                    @include font(15px, 45px);
                }
            }
            div {
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                @extend .font-roboto;
                @media (min-width: 1220px) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                p {
                    @include font(18px, 42px, bold);
                    color: $main-color;
                    border-bottom: 1px dashed #dfdfdf;
                    small {
                        color: $font-color;
                        font-weight: normal;
                    }
                    @media (min-width: 1220px) {
                        @include font(18px, 50px);
                    }
                }
                strong {
                    @include font(20px, 40px);
                    @media (min-width: 1220px) {
                        @include font(25px, 50px);
                    }
                }
            }
            &:hover, &:focus, &.active {
                text-decoration: none;
                border-color: $main-color;
                h4 {
                    background-color: $main-color;
                    border-color: $main-color;
                    color: #fff;
                }
            }
        }
    }
}

// 결제내역
#content.payment-history {
    .overview {
        margin-bottom: 10px;
        @media (min-width: 768px) {
            margin-bottom: 30px;
        }
        li {
            &:nth-of-type(3n+1) {
                padding-left: 10px;
                padding-right: 5px;
            }
            &:nth-of-type(3n+2) {
                padding-left: 5px;
                padding-right: 5px;
            }
            &:nth-of-type(3n+0) {
                padding-left: 5px;
                padding-right: 10px;
            }
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                padding-bottom: 5px;
            }
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6) {
                padding-top: 5px;
            }
            @media (min-width: 768px) {
                &:nth-of-type(3n+1) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &:nth-of-type(3n+2) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &:nth-of-type(3n) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    padding-bottom: 0;
                }
                &:nth-of-type(4),
                &:nth-of-type(5),
                &:nth-of-type(6) {
                    padding-top: 0;
                }
            }
        }
        a {
            display: block;
            border: 1px solid #dfdfdf;
            h4 {
                @include font(12px, 35px);
                background-color: #f4f4f4;
                border-bottom: 1px solid #dfdfdf;
                text-align: center;
                @media (min-width: 1220px) {
                    @include font(15px, 35px);
                }
            }
            p {
                @include font(20px, 40px);
                @extend .font-roboto;
                color: #333;
                text-align: center;
                @media (min-width: 1220px) {
                    @include font(25px, 73px);
                }
            }
            &:hover, &:focus, &.active {
                border-color: $main-color;
                text-decoration: none;
                h4 {
                    border-color: $main-color;
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }
    }
    .search-area {
        padding: 5px 15px;
        border: 1px solid #dfdfdf;
        margin-bottom: 30px;
        @media (min-width: 768px) {
            margin-bottom: 50px;
        }
        @media (min-width: 1220px) {
            margin-bottom: 70px;
        }
        input[type="text"] {
            width: 100%;
        }
        select {
            width: 100%;
        }
        .row {
            @media (min-width: 768px) {
                margin-left: -10px;
                margin-right: -10px;
            }
            > div {
                padding: 5px;
                @media (min-width: 1220px) {
                }
            }                
        }
    }
    .list {
        .summary {
            @include font(14px, 18px);
            @media (min-width: 768px) {
                margin-bottom: 10px;
                @include font(16px, 20px);
            }
            @media (min-width: 1220px) {
                margin-bottom: 20px;
                @include font(20px, 30px);
            }
            strong {
                color: $main-color;
            }
            .count p {
                margin-bottom: 5px;
                @media (min-width: 768px) {
                    margin-bottom: 0;
                }
            }
            .price p {
                margin-bottom: 10px;
                @media (min-width: 768px) {
                    margin-bottom: 0;
                    text-align: right;
                }
                @media (min-width: 1220px) {
                    strong {
                        @include font(30px, 30px);
                    }
                }
            }
        }
        .table-responsive {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
        .table {
            td {
                padding-top: 20px;
                padding-bottom: 20px;
                vertical-align: middle;
            }
            th:nth-of-type(1),
            td:nth-of-type(1) {
                display: none;
                @media (min-width: 1220px) {
                    display: table-cell;
                }
            }
            td.figure div {
                margin: 0 auto;
                width: 100px;
                height: 70px;
                border: 1px solid #e9e9e9;
                border-radius: 10px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                @media (min-width: 768px) {
                    width: 170px;
                    height: 100px;
                }
            }
            td.details {
                text-align: left;
                vertical-align: top;
                h4 {
                    width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @include font(18px, 26px);
                    @media (min-width: 768px) {
                        width: 220px;
                    }
                    @media (min-width: 1220px) {
                        width: 400px;
                    }
                }
                dl {
                    display: inline-block;
                    dt, dd {
                        display: inline-block;
                        @include font(12px, 18px, normal);
                        color: #888;
                    }
                }
                div:nth-of-type(1) {
                    @media (min-width: 768px) {
                        margin-top: 5px;
                        margin-bottom: 25px;
                    }
                }
                dl.price {
                    margin-right: 5px;
                    dt, dd {
                        color: $main-color;
                    }
                }
                dl.price, dl.count {
                    dt, dd {
                        @media (min-width: 768px) {
                            @include font(13px, 20px);
                        }
                    }
                }
            }
            td.price {
                color: #333;
                strong {
                    font-size: 15px;
                    @extend .font-roboto;
                    @media (min-width: 768px) {
                        font-size: 20px;
                    }
                }
            }
            td.status {
                span {
                    display: block;
                    width: 100px;
                    height: 26px;
                    margin: 0 auto;
                    border-top-left-radius: 13px;
                    border-top-right-radius: 13px;
                    border-bottom-left-radius: 13px;
                    border-bottom-right-radius: 13px;
                    background-color: $main-color;
                    font-size: 13px;
                    line-height: 26px;
                    color: #fff;
                }
                .status-1 {
                    background-color: #cf98d9;
                }
                .status-2 {
                    background-color: #70bded;
                }
                .status-3 {
                    background-color: #f58c66;
                }
                .status-4 {
                    background-color: #70bcb2;
                }
                .status-5 {
                    background-color: #838383;
                }
                .status-6 {
                    background-color: #da7777;
                }
            }
        }
    }
}