.font-roboto, .my-project-item .details .stats .rate h5, .my-project-item .details .stats .rate .progress .progress-bar, .my-project-item .details .stats .involve > div dt, .my-project-item .details .stats .period dt time, .my-project-item .details .stats .period dd time, #content.result .overview a div, #content.payment-history .overview a p, #content.payment-history .list .summary strong, #content.payment-history .list .table td.price strong, #content.register.step2 .sponsor .period strong {
  font-family: 'Roboto', sans-serif; }

/*
.font-13px {
    font-size: 13px;
    line-height: 20px;
}
.font-14px {
    font-size: 14px;
    line-height: 22px;
}
.font-15px {
    font-size: 15px;
    line-height: 25px;
}
*/
.icon-circle {
  display: inline-block;
  border-radius: 50%;
  text-align: center; }
  .icon-circle > i {
    font-size: 85%; }

@media (min-width: 768px) {
  body.mypage .page-header {
    margin-bottom: 50px; } }

.my-project-item {
  overflow: hidden;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  margin-bottom: 10px; }
  @media (min-width: 1220px) {
    .my-project-item {
      height: 250px;
      margin-bottom: 20px; } }
  .my-project-item .figure {
    height: 185px;
    border-bottom: 1px solid #e9e9e9;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    @media (min-width: 1220px) {
      .my-project-item .figure {
        float: left;
        width: 370px;
        height: 100%;
        border-bottom: 0;
        border-bottom: 1px solid #e9e9e9; } }
  .my-project-item .details {
    padding: 20px; }
    @media (min-width: 1220px) {
      .my-project-item .details {
        height: 248px;
        padding: 30px 0;
        margin-left: 370px; } }
    .my-project-item .details .summary {
      padding-bottom: 20px; }
      .my-project-item .details .summary h4 {
        overflow: hidden;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #333;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center; }
      .my-project-item .details .summary .desc {
        display: none; }
      .my-project-item .details .summary ul {
        margin-bottom: 15px; }
        @media (min-width: 1220px) {
          .my-project-item .details .summary ul {
            margin-bottom: 20px; } }
        .my-project-item .details .summary ul li {
          position: relative;
          padding-left: 10px;
          font-size: 13px;
          line-height: 22px; }
          .my-project-item .details .summary ul li .dot {
            position: absolute;
            top: 8px;
            left: 0;
            width: 3px;
            height: 3px;
            background-color: #f36523; }
        .my-project-item .details .summary ul dt, .my-project-item .details .summary ul dd {
          display: inline-block;
          color: #888;
          font-size: 13px;
          line-height: 22px;
          font-weight: normal; }
      .my-project-item .details .summary .btn-area p .btn:hover, .my-project-item .details .summary .btn-area p .btn:focus {
        background-color: #fff;
        border-color: #f36523;
        color: #f36523; }
      .my-project-item .details .summary .result {
        width: 102px;
        height: 26px;
        line-height: 26px;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        background-color: #ccc;
        color: #fff;
        text-align: center; }
      @media (min-width: 1220px) {
        .my-project-item .details .summary {
          float: left;
          width: 440px;
          height: 188px;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 0; }
          .my-project-item .details .summary h4 {
            margin-top: 0;
            margin-bottom: 10px;
            text-align: left; }
          .my-project-item .details .summary .desc {
            overflow: hidden;
            display: block;
            margin-bottom: 25px;
            font-size: 13px;
            line-height: 18px;
            text-overflow: ellipsis;
            white-space: nowrap; } }
    .my-project-item .details .stats {
      padding-top: 20px;
      border-top: 1px solid #e9e9e9; }
      @media (min-width: 1220px) {
        .my-project-item .details .stats {
          padding-top: 0;
          padding-left: 60px;
          padding-right: 70px;
          height: 188px;
          border-top: 0;
          border-left: 1px solid #e9e9e9;
          margin-left: 440px; } }
      .my-project-item .details .stats .rate h5 {
        overflow: hidden;
        display: block;
        font-size: 33px;
        line-height: 45px;
        text-align: center;
        color: #f36523;
        text-overflow: ellipsis;
        white-space: normal; }
        .my-project-item .details .stats .rate h5 small {
          color: #f36523;
          font-size: 18px;
          font-weight: normal; }
        @media (min-width: 1220px) {
          .my-project-item .details .stats .rate h5 {
            line-height: 24px; } }
      .my-project-item .details .stats .rate p {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 18px;
        color: #333;
        text-align: center; }
        @media (min-width: 1220px) {
          .my-project-item .details .stats .rate p {
            margin-top: 7px; } }
      .my-project-item .details .stats .rate .progress {
        height: 22px;
        box-shadow: none;
        background-color: #d7d7d7;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px; }
        .my-project-item .details .stats .rate .progress .progress-bar {
          box-shadow: none;
          background-color: #f36523;
          line-height: 22px; }
      .my-project-item .details .stats .involve {
        overflow: hidden;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9; }
        .my-project-item .details .stats .involve > div {
          float: left;
          padding-top: 10px;
          padding-bottom: 10px;
          width: 50%;
          border-right: 1px solid #e9e9e9;
          text-align: center; }
          .my-project-item .details .stats .involve > div:last-child {
            border-right: 0; }
          .my-project-item .details .stats .involve > div dt {
            font-size: 20px;
            line-height: 22px; }
          .my-project-item .details .stats .involve > div dd {
            font-size: 12px;
            line-height: 18px; }
          .my-project-item .details .stats .involve > div .closed {
            color: #ce0000;
            font-size: 20px;
            line-height: 40px; }
      .my-project-item .details .stats .period {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center; }
        .my-project-item .details .stats .period dt, .my-project-item .details .stats .period dd {
          display: inline-block;
          font-size: 13px;
          line-height: 20px;
          font-weight: normal; }

#content.modify-info label {
  font-weight: normal; }
#content.modify-info .default .email .help {
  margin-top: 0; }
#content.modify-info .default .introduce textarea {
  width: 100%;
  height: 100px; }
#content.modify-info .default #zipcode {
  width: 80px; }
#content.modify-info .default .address input {
  width: 100%; }
#content.modify-info .default .profile figure {
  display: inline-block;
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  background-color: #f3f3f3;
  text-align: center; }
  #content.modify-info .default .profile figure.empty {
    width: 138px;
    height: 138px; }
    #content.modify-info .default .profile figure.empty img {
      margin-top: 60px; }
#content.modify-info .bank-account {
  margin-top: 30px; }
  @media (min-width: 768px) {
    #content.modify-info .bank-account {
      margin-top: 50px; } }
  @media (min-width: 1220px) {
    #content.modify-info .bank-account {
      margin-top: 100px; } }

#content.my-project {
  padding-bottom: 30px; }
  @media (min-width: 1220px) {
    #content.my-project {
      padding-bottom: 100px; } }
  #content.my-project .section-header {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
    margin-top: 50px; }
    #content.my-project .section-header > a {
      position: absolute;
      top: -7px;
      right: 0; }
    @media (min-width: 1220px) {
      #content.my-project .section-header {
        margin-top: 90px; } }
  #content.my-project .filter ul {
    overflow: hidden; }
  #content.my-project .filter li {
    float: left;
    padding: 5px;
    width: 50%; }
    #content.my-project .filter li:nth-of-type(1), #content.my-project .filter li:nth-of-type(3) {
      padding-left: 0; }
    #content.my-project .filter li:nth-of-type(2), #content.my-project .filter li:nth-of-type(4) {
      padding-right: 0; }
    @media (min-width: 768px) {
      #content.my-project .filter li {
        padding: 0 15px;
        width: 25%; }
        #content.my-project .filter li:nth-of-type(2) {
          padding-right: 15px; }
        #content.my-project .filter li:nth-of-type(3) {
          padding-left: 15px; } }
    @media (min-width: 1220px) {
      #content.my-project .filter li br {
        display: none; } }
  #content.my-project .filter a {
    display: block;
    padding: 5px;
    border: 1px solid #c4c4c4;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; }
    @media (min-width: 768px) {
      #content.my-project .filter a {
        padding: 10px; } }
    #content.my-project .filter a:hover, #content.my-project .filter a:focus, #content.my-project .filter a.active {
      background-color: #f36523;
      color: #fff;
      border-color: #f36523; }
  #content.my-project .nothing {
    text-align: center; }

#content.favorite > .container > .btn-area p {
  text-align: right; }
@media (min-width: 768px) {
  #content.favorite > .container > .btn-area {
    margin-bottom: 10px; } }
@media (min-width: 1220px) {
  #content.favorite > .container > .btn-area {
    margin-bottom: 20px; } }
#content.favorite .menu {
  overflow: hidden; }
  #content.favorite .menu input {
    margin-top: 12px;
    margin-left: 10px; }
  #content.favorite .menu button {
    float: right;
    padding-right: 0;
    padding-left: 0;
    color: #f36523;
    font-size: 20px; }

#content.result .overview {
  margin-bottom: 60px;
  /*
  .row {
      margin-left: -15px;
      margin-right: -15px;
  }
  */ }
  @media (min-width: 1220px) {
    #content.result .overview {
      margin-bottom: 70px; } }
  #content.result .overview li:nth-of-type(odd) {
    padding-left: 10px;
    padding-right: 5px; }
  #content.result .overview li:nth-of-type(even) {
    padding-left: 5px;
    padding-right: 10px; }
  #content.result .overview li:nth-of-type(1), #content.result .overview li:nth-of-type(2) {
    padding-bottom: 5px; }
  #content.result .overview li:nth-of-type(3), #content.result .overview li:nth-of-type(4) {
    padding-top: 5px; }
  @media (min-width: 768px) {
    #content.result .overview li:nth-of-type(odd) {
      padding-left: 15px;
      padding-right: 15px; }
    #content.result .overview li:nth-of-type(even) {
      padding-left: 15px;
      padding-right: 15px; }
    #content.result .overview li:nth-of-type(1), #content.result .overview li:nth-of-type(2) {
      padding-bottom: 0; }
    #content.result .overview li:nth-of-type(3), #content.result .overview li:nth-of-type(4) {
      padding-top: 0; } }
  #content.result .overview a {
    display: block;
    border: 1px solid #dfdfdf; }
    #content.result .overview a h4 {
      text-align: center;
      border-bottom: 1px solid #dfdfdf;
      font-size: 12px;
      line-height: 35px;
      background-color: #f4f4f4; }
      @media (min-width: 1220px) {
        #content.result .overview a h4 {
          font-size: 15px;
          line-height: 45px; } }
    #content.result .overview a div {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center; }
      @media (min-width: 1220px) {
        #content.result .overview a div {
          padding-left: 20px;
          padding-right: 20px; } }
      #content.result .overview a div p {
        font-size: 18px;
        line-height: 42px;
        font-weight: bold;
        color: #f36523;
        border-bottom: 1px dashed #dfdfdf; }
        #content.result .overview a div p small {
          color: #666;
          font-weight: normal; }
        @media (min-width: 1220px) {
          #content.result .overview a div p {
            font-size: 18px;
            line-height: 50px; } }
      #content.result .overview a div strong {
        font-size: 20px;
        line-height: 40px; }
        @media (min-width: 1220px) {
          #content.result .overview a div strong {
            font-size: 25px;
            line-height: 50px; } }
    #content.result .overview a:hover, #content.result .overview a:focus, #content.result .overview a.active {
      text-decoration: none;
      border-color: #f36523; }
      #content.result .overview a:hover h4, #content.result .overview a:focus h4, #content.result .overview a.active h4 {
        background-color: #f36523;
        border-color: #f36523;
        color: #fff; }

#content.payment-history .overview {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    #content.payment-history .overview {
      margin-bottom: 30px; } }
  #content.payment-history .overview li:nth-of-type(3n+1) {
    padding-left: 10px;
    padding-right: 5px; }
  #content.payment-history .overview li:nth-of-type(3n+2) {
    padding-left: 5px;
    padding-right: 5px; }
  #content.payment-history .overview li:nth-of-type(3n+0) {
    padding-left: 5px;
    padding-right: 10px; }
  #content.payment-history .overview li:nth-of-type(1), #content.payment-history .overview li:nth-of-type(2), #content.payment-history .overview li:nth-of-type(3) {
    padding-bottom: 5px; }
  #content.payment-history .overview li:nth-of-type(4), #content.payment-history .overview li:nth-of-type(5), #content.payment-history .overview li:nth-of-type(6) {
    padding-top: 5px; }
  @media (min-width: 768px) {
    #content.payment-history .overview li:nth-of-type(3n+1) {
      padding-left: 15px;
      padding-right: 15px; }
    #content.payment-history .overview li:nth-of-type(3n+2) {
      padding-left: 15px;
      padding-right: 15px; }
    #content.payment-history .overview li:nth-of-type(3n) {
      padding-left: 15px;
      padding-right: 15px; }
    #content.payment-history .overview li:nth-of-type(1), #content.payment-history .overview li:nth-of-type(2), #content.payment-history .overview li:nth-of-type(3) {
      padding-bottom: 0; }
    #content.payment-history .overview li:nth-of-type(4), #content.payment-history .overview li:nth-of-type(5), #content.payment-history .overview li:nth-of-type(6) {
      padding-top: 0; } }
  #content.payment-history .overview a {
    display: block;
    border: 1px solid #dfdfdf; }
    #content.payment-history .overview a h4 {
      font-size: 12px;
      line-height: 35px;
      background-color: #f4f4f4;
      border-bottom: 1px solid #dfdfdf;
      text-align: center; }
      @media (min-width: 1220px) {
        #content.payment-history .overview a h4 {
          font-size: 15px;
          line-height: 35px; } }
    #content.payment-history .overview a p {
      font-size: 20px;
      line-height: 40px;
      color: #333;
      text-align: center; }
      @media (min-width: 1220px) {
        #content.payment-history .overview a p {
          font-size: 25px;
          line-height: 73px; } }
    #content.payment-history .overview a:hover, #content.payment-history .overview a:focus, #content.payment-history .overview a.active {
      border-color: #f36523;
      text-decoration: none; }
      #content.payment-history .overview a:hover h4, #content.payment-history .overview a:focus h4, #content.payment-history .overview a.active h4 {
        border-color: #f36523;
        background-color: #f36523;
        color: #fff; }
#content.payment-history .search-area {
  padding: 5px 15px;
  border: 1px solid #dfdfdf;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    #content.payment-history .search-area {
      margin-bottom: 50px; } }
  @media (min-width: 1220px) {
    #content.payment-history .search-area {
      margin-bottom: 70px; } }
  #content.payment-history .search-area input[type="text"] {
    width: 100%; }
  #content.payment-history .search-area select {
    width: 100%; }
  @media (min-width: 768px) {
    #content.payment-history .search-area .row {
      margin-left: -10px;
      margin-right: -10px; } }
  #content.payment-history .search-area .row > div {
    padding: 5px; }
#content.payment-history .list .summary {
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    #content.payment-history .list .summary {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px; } }
  @media (min-width: 1220px) {
    #content.payment-history .list .summary {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 30px; } }
  #content.payment-history .list .summary strong {
    color: #f36523;
    font-weight: normal; }
  #content.payment-history .list .summary .count p {
    margin-bottom: 5px; }
    @media (min-width: 768px) {
      #content.payment-history .list .summary .count p {
        margin-bottom: 0; } }
  #content.payment-history .list .summary .price p {
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      #content.payment-history .list .summary .price p {
        margin-bottom: 0;
        text-align: right; } }
    @media (min-width: 1220px) {
      #content.payment-history .list .summary .price p strong {
        font-size: 30px;
        line-height: 30px; } }
#content.payment-history .list .table-responsive {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
#content.payment-history .list .table td {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle; }
#content.payment-history .list .table th:nth-of-type(1),
#content.payment-history .list .table td:nth-of-type(1) {
  display: none; }
  @media (min-width: 1220px) {
    #content.payment-history .list .table th:nth-of-type(1),
    #content.payment-history .list .table td:nth-of-type(1) {
      display: table-cell; } }
#content.payment-history .list .table td.figure div {
  margin: 0 auto;
  width: 100px;
  height: 70px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    #content.payment-history .list .table td.figure div {
      width: 170px;
      height: 100px; } }
#content.payment-history .list .table td.details {
  text-align: left;
  vertical-align: top; }
  #content.payment-history .list .table td.details h4 {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    line-height: 26px; }
    @media (min-width: 768px) {
      #content.payment-history .list .table td.details h4 {
        width: 220px; } }
    @media (min-width: 1220px) {
      #content.payment-history .list .table td.details h4 {
        width: 400px; } }
  #content.payment-history .list .table td.details dl {
    display: inline-block; }
    #content.payment-history .list .table td.details dl dt, #content.payment-history .list .table td.details dl dd {
      display: inline-block;
      font-size: 12px;
      line-height: 18px;
      font-weight: normal;
      color: #888; }
  @media (min-width: 768px) {
    #content.payment-history .list .table td.details div:nth-of-type(1) {
      margin-top: 5px;
      margin-bottom: 25px; } }
  #content.payment-history .list .table td.details dl.price {
    margin-right: 5px; }
    #content.payment-history .list .table td.details dl.price dt, #content.payment-history .list .table td.details dl.price dd {
      color: #f36523; }
  @media (min-width: 768px) {
    #content.payment-history .list .table td.details dl.price dt, #content.payment-history .list .table td.details dl.price dd, #content.payment-history .list .table td.details dl.count dt, #content.payment-history .list .table td.details dl.count dd {
      font-size: 13px;
      line-height: 20px; } }
#content.payment-history .list .table td.price {
  color: #333; }
  #content.payment-history .list .table td.price strong {
    font-size: 15px; }
    @media (min-width: 768px) {
      #content.payment-history .list .table td.price strong {
        font-size: 20px; } }
#content.payment-history .list .table td.status span {
  display: block;
  width: 100px;
  height: 26px;
  margin: 0 auto;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #f36523;
  font-size: 13px;
  line-height: 26px;
  color: #fff; }
#content.payment-history .list .table td.status .status-1 {
  background-color: #cf98d9; }
#content.payment-history .list .table td.status .status-2 {
  background-color: #70bded; }
#content.payment-history .list .table td.status .status-3 {
  background-color: #f58c66; }
#content.payment-history .list .table td.status .status-4 {
  background-color: #70bcb2; }
#content.payment-history .list .table td.status .status-5 {
  background-color: #838383; }
#content.payment-history .list .table td.status .status-6 {
  background-color: #da7777; }

#content.register.step2 .section-header {
  position: relative; }
  @media (min-width: 768px) {
    #content.register.step2 .section-header {
      margin-top: 50px; } }
  @media (min-width: 768px) {
    #content.register.step2 .section-header .btn-add-reward {
      position: absolute;
      top: 28px;
      right: 0;
      margin-top: 0; } }
#content.register.step2 .notify {
  padding: 15px;
  border: 1px solid #dfdfdf; }
  #content.register.step2 .notify .require {
    font-style: normal;
    color: #f70000; }
  #content.register.step2 .notify p {
    margin-bottom: 5px; }
    #content.register.step2 .notify p:last-child {
      margin-bottom: 0; }
  @media (min-width: 1220px) {
    #content.register.step2 .notify {
      padding: 20px; } }
#content.register.step2 .help {
  margin-top: 0; }
#content.register.step2 .category select {
  min-width: 100px; }
#content.register.step2 .default #project-title,
#content.register.step2 .default #project-desc {
  width: 100%; }
#content.register.step2 .default #staff-email,
#content.register.step2 .default #homepage {
  min-width: 300px; }
#content.register.step2 .sponsor .ex {
  font-size: 12px;
  color: #888; }
#content.register.step2 .sponsor .period input {
  min-width: 80px;
  max-width: 120px; }
#content.register.step2 .sponsor .period strong {
  color: #f36523;
  font-size: 1.2em; }
#content.register.step2 .sponsor .goal-personnel label {
  margin-right: 10px;
  font-weight: normal; }
  #content.register.step2 .sponsor .goal-personnel label input[type="text"] {
    min-width: 80px;
    max-width: 120px; }
#content.register.step2 .details .project-editor {
  min-height: 100px;
  border: 1px solid #dfdfdf; }
#content.register.step2 .reward .reward-item {
  position: relative; }
  #content.register.step2 .reward .reward-item h4 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold; }
    @media (min-width: 768px) {
      #content.register.step2 .reward .reward-item h4 {
        font-size: 16px;
        line-height: 22px; } }
  #content.register.step2 .reward .reward-item .remove-reward {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    font-size: 13px;
    line-height: 20px; }
    #content.register.step2 .reward .reward-item .remove-reward label {
      font-weight: normal; }
      #content.register.step2 .reward .reward-item .remove-reward label input {
        position: relative;
        top: 2px; }
  #content.register.step2 .reward .reward-item + .reward-item {
    margin-top: 30px; }
#content.register.step2 .reward .schedule input {
  min-width: 250px; }
#content.register.step2 .upload .section-header ul {
  margin-top: 5px; }
  @media (min-width: 1220px) {
    #content.register.step2 .upload .section-header ul {
      margin-top: 10px; } }
#content.register.step2 .upload .file-uploader {
  min-height: 100px;
  border: 1px solid #dfdfdf; }
#content.register.step2 .btn-area {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    #content.register.step2 .btn-area {
      margin-top: 100px;
      margin-bottom: 100px; } }
  #content.register.step2 .btn-area p {
    text-align: center; }
    #content.register.step2 .btn-area p .btn {
      min-width: 120px;
      margin: 0 5px;
      font-size: 14px; }
      @media (min-width: 768px) {
        #content.register.step2 .btn-area p .btn {
          min-width: 180px;
          font-size: 18px; } }

/*# sourceMappingURL=mypage.css.map */
